<div class="col-10 col-lg-6 mx-auto mt-5">

  <h1>Angular directives</h1>
  <p>Shown in practice</p>

  <p class="text-muted m-0">Read the comments in the directives to learn the difference
    between each directive in this project.</p>
  <p class="text-muted mb-5">I recommend starting by the <strong>simple directive</strong>.</p>

  <simple-directive-card></simple-directive-card>

  <custom-directive-cards div1color="black" div2color="orange"></custom-directive-cards>

  <custom2-directive-cards div1color="purple" text1color="white" div2color="snow" text2color="purple">
  </custom2-directive-cards>

  <events-directive-cards hoverCardInitialColor="green" hoverCardOnHoverColor="purple"></events-directive-cards>

</div>
<router-outlet></router-outlet>